* {
    margin:0px;
    padding: 0px;
}
html {
    font-size: 16px;
}
body {
    background-color: #33423e;
}
div {
    background-color: rgb(231, 173, 46);
    min-width: 20rem;
    font-style: normal;
}

h1 {
    background-color: rgb(224, 247, 247);
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 2rem;
}

h2 {
    background-color: beige;
    text-align: center;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    padding-top: 0.625rem;
    padding-bottom: 0.275rem;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número de líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.5rem; /* Ajusta el tamaño de línea según sea necesario */
    max-height: 4rem; /* Asegúrate de que sea suficiente para el número de líneas */
}

p {    
    color: rgb(0, 0, 0);
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 0.625rem;
    font-size: 1rem;
    max-height: 5.625rem; /* Altura máxima */
    overflow: clip; /* Oculta el desbordamiento */
    text-overflow: clip; /* Muestra puntos suspensivos */
    white-space: normal; /* No permite el salto de línea */
}

.noticia {
    height: 40vh;
    width: 40vh;
}

.contenedor-flex {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    justify-content: space-around; /* Distribute space around items */
    padding: 0.625rem;
    box-sizing: border-box; /* Include padding in width calculations */
    overflow: hidden;
}

.caja {
    border: 1px solid #23b890;
    width: 31.25rem;
    margin: 0.313rem;
    padding: 0.625rem;
    text-align: center;
    border: 1px solid #ccc;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media(min-width: 93.75rem) {
        .caja {
          flex: 20rem;
        }
}

@media(max-width: 25rem) {
    .caja {
      flex: 100%;
    }
}

@media(max-width: 93.75rem) {
    .caja {
      flex: 20rem;
    }
}